.home-page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
}

.flashlight {
  text-align: center;
  $random-text: "Julia Machin";
  // $stroke-width: $extra-large * 0.05;
  text-transform: uppercase;
  font-size: 80px;
  color: lighten(pink, 25%);
  -webkit-text-stroke-width: stroke-width;
  -webkit-text-stroke-color: lighten(pink, 5%);
  // @include center;
  text-shadow: 0 0 40px lighten(pink, 5%), 0 0 40px lighten(pink, 5%),
    0 0 40px lighten(pink, 5%);
}

