@font-face {
  font-family: "Noto Serif";
  src: url("../public/assets/fonts/NotoSerif-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Splash", cursive;
  src: url("../public/assets/fonts/Splash-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display", serif;
  src: url("../public/assets/fonts/PlayfairDisplay-VariableFont_wght.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

input, textarea {
  font-family: Arial, Helvetica, sans-serif;
}
